
-- Sessions Table for 1:1 and Group Learning
CREATE TABLE Sessions (
    id SERIAL PRIMARY KEY,
    instructor_id INT REFERENCES Users(id),
    title VARCHAR(255) NOT NULL,
    description TEXT,
    session_type VARCHAR(20) CHECK (session_type IN ('one-on-one', 'group')),
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP NOT NULL,
    capacity INT DEFAULT 1, -- 1 for 1:1, more for groups
    status VARCHAR(20) DEFAULT 'scheduled'
);

-- Bookings Table (Joins Users to Sessions)
CREATE TABLE Bookings (
    id SERIAL PRIMARY KEY,
    user_id INT REFERENCES Users(id),
    session_id INT REFERENCES Sessions(id),
    booked_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(user_id, session_id) -- Prevents double booking
);
